@import "./utils/variables";
@import "./component/about__button";
@import "./component/modal";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

ul {
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

blackout body .blackout {
  position: relative;
}
