// HEADER

.container {
  position: relative;
  width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}

// .nav-container {
.nav-container__button {
  position: absolute;
  background: none;
  border: none;
  fill: $color-title;

  transition-property: fill, cursor;
  @extend %animation;

  margin-top: 10px;

  right: 0;

  background: transparent;
  top: 0;
  padding: 0;
  z-index: 1;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav-container__icon-menu {
  display: none;
}

.nav-container__button.is-open .nav-container__icon-menu {
  display: block;
}

.nav-container__button.is-open .nav-container__icon-cross {
  display: none;
}

.nav-container__icon-color {
  &:hover,
  &:focus {
    fill: $color-hover-focus;
    cursor: pointer;
  }
}

.menu-container {
  // opacity: 0;
  display: none;

  position: fixed;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  padding: 0;
  margin: 0;

  background: $color-accent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  &.is-open {
    // opacity: 1;
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

// Site-nav
.mobile__site-nav {
  margin-top: 48px;
  margin-left: 40px;
}

// Site-nav
.mobile__link {
  @extend %site-nav__link__text;

  color: $color-title;

  transition-property: color, cursor;
  @extend %animation;

  &:hover,
  &:focus {
    color: $color-hover-focus;
    cursor: pointer;
  }
}

.mobile__fover {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.mobile__fover:hover .mobile__link,
.mobile__fover:focus .mobile__link {
  color: $color-hover-focus;
  cursor: pointer;
}

//AUTH-NAV
.mobile__auth-nav {
  display: block;
  margin-top: 306px;
  margin-left: 40px;
}

.mobile__item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

// tel
.mobile-nav__link {
  align-items: center;

  @extend %auth-nav__mailto__text;

  color: $color-text;

  transition-property: color, cursor;
  @extend %animation;

  &:hover,
  &:focus {
    color: $color-hover-focus;
    cursor: pointer;
  }
}

.mobile-nav__link.tel {
  @extend %auth-nav__mailto__tel;
  color: $color-hover-focus;
}

.mobile-nav__mailto .mobile-nav__icon-mailto {
  display: none;
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 0px;

  fill: #afb1b8;

  transition-property: fill, cursor;
  @extend %animation;

  &:hover,
  &:focus {
    fill: $color-hover-focus;
    cursor: pointer;
  }
}

.mobile-nav__link:hover .mobile-nav__icon-mailto,
.mobile-nav__link:focus .mobile-nav__icon-mailto {
  fill: $color-hover-focus;
  cursor: pointer;
}

.mobile-nav__block {
  margin: 0px;

  transition-property: fill, cursor;
  @extend %animation;
}

// * tel *

.mobile-nav__icon-tel {
  display: none;
  margin: 0px 10px 0px 0px;
  padding: 0;

  fill: #afb1b8;

  transition-property: fill, cursor;
  @extend %animation;

  &:hover,
  &:focus {
    fill: $color-hover-focus;
    cursor: pointer;
  }
}

.mobile-nav__link:hover .mobile-nav__icon-tel,
.mobile-nav__link:focus .mobile-nav__icon-tel {
  fill: $color-hover-focus;
  cursor: pointer;
}

.mobile-nav__block {
  margin: 0px;
  display: none;
  transition-property: fill, cursor;
  @extend %animation;
}

.auth-nav__social-networks {
  display: flex;
  grid-column-gap: 10px;
  align-items: center;

  margin-top: 64px;
}

// SMM
.auth-nav__instagram {
  @extend %auth-nav__network-link;
  color: $color-hover-focus;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.auth-nav__twitter {
  @extend %auth-nav__network-link;
  color: $color-hover-focus;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.auth-nav__facebook {
  @extend %auth-nav__network-link;
  color: $color-hover-focus;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.auth-nav__linkedIn {
  @extend %auth-nav__network-link;
  color: $color-hover-focus;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
