// Палітра кольорів макета і набори шрифтів

// @extend %about__button;
%about__button {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
}

// @extend %read__more-title;
%read__more-title {
  text-decoration: none;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;

  @media screen and (min-width: 1200px) {
    text-decoration: none;
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
  }
}

// @extend %read__more-text;
%read__more-text {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  @media screen and (min-width: 1200px) {
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.37;
  }
}

// @extend %animation;
%animation {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
